<div class="sub-page-header">
	<div class="row">
		<div class="columns">
			<h1>
				Colorado Dealers
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="columns">
		<table class="table-minimal">
			<thead>
				<tr>
					<th>City</th>
					<th>Store Name</th>
					<th>Phone Number</th>
					<% if current_user.username == "ehuntsman" %>
						<th>Store Contact</th>
						<th>edit</th>
						<th>delete</th>
					<% end if current_user %>
				</tr>
			</thead>
			<tbody>
				<% @dealers.each do |dealer| %>
					<tr>
						<td><%= dealer.city %></td>
						<td><%= dealer.store_name %></td>
						<td><%= dealer.phone_number %></td>
						<% if current_user.username == "ehuntsman" %>
							<td><%= dealer.contact_name %></td>
							<td>
								<%= link_to edit_dealer_path(dealer), title: "Edit Dealer" do %>
									<span class="fa fa-edit"></span>
								<% end %>
							</td>
							<td>
								<%= link_to dealer_path(dealer), data: { confirm: %(Are you sure you want to delete "#{dealer.store_name}"? This cannot be undone.) }, method: :delete do %>
									<span class="fa fa-trash"></span>
								<% end %>
							</td>
						<% end if current_user %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>